# Capstone Project - Modelling Valuation of Football Players

#### Marco Wong
#### November 11th, 2023

### Table of Contents

Introduction

Datasets

Data cleaning

EDA

Statistical Analysis

Modelling

In [15]:
# To check the dataframe encoding type
import chardet

# For general use
import numpy as np
import pandas as pd

# For plotting purposes
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns

# Used for statistical analysis
from statsmodels.api import tsa # time series analysis
import statsmodels.api as sm

### Introduction

### Datasets

This project will use the following 4 datasets:

> 1. **Player statistics in the season 2022-2023**
> 2. **Player statistics in the season 2021-2022**
> 3. **Player valuation, scraped from the website 'Transfermarkt'**
> 4. **Player names and information, scraped from the website 'Transfermarkt'**
> 5. **Transfer fees of football players within last two years **

The first two datasets contains information about each individual player in the top 5 leagues in each respective season: the first dataset from the season 2022 to 2023 and the second dataset from the season 2021 to 2022. This dataset contains specific characteristics, including player nationality, age, team, competition, and also in game statistics like passes made per 90, shots per game, matches played in the season. 

The third and fourth datasets will provide valuation of individual players for each season. This is scraped from Transfermarkt, a third party company, and the valuation is based on their own internal modelling system. This will used as the training data for my model.

Lastly, the fifth dataset will include all completed transfers and their respective transfer fees within the last 2 years. This will be used as our test data to check for model accuracy.

In order to effectively model the players valuation, each dataset will be properly cleaned, and then appended together when required.

In [23]:
# Checking the encoding type of this dataset due to errors from regular importing
with open("data/2022-2023 Football Player Stats.csv", 'rb') as f:
    result = chardet.detect(f.read())

print(result)

{'encoding': 'Windows-1252', 'confidence': 0.7299419219496452, 'language': ''}

In [17]:
# Importing the data
player_stats2023 = pd.read_csv("data/2022-2023 Football Player Stats.csv", encoding = 'Windows-1252', delimiter = ';')
player_stats2022 = pd.read_csv("data/2021-2022 Football Player Stats.csv", encoding = 'Windows-1252', delimiter = ';')
player_valuation = pd.read_csv("data/player_valuations.csv")
players = pd.read_csv("data/players.csv")

## Data exploration

### Player Statistics Datasets

First, we look at our `player_stats2023` table.

In [19]:
player_stats2023.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4

In [24]:
player_stats2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2689 entries, 0 to 2688
Columns: 124 entries, Rk to AerWon%
dtypes: float64(112), int64(7), object(5)
memory usage: 2.5+ MB

In [36]:
player_stats2023.columns[:15]

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Goals', 'Shots', 'SoT'],
      dtype='object')

In [34]:
player_stats2023.columns[-5:]

Index(['OG', 'Recov', 'AerWon', 'AerLost', 'AerWon%'], dtype='object')

Note that there are 124 columns in this dataset, with 112 as float datatypes, 7 as integers and 5 as objects. The first 8 columns show descriptive information about the player. These are mainly categorical columns.

This dataset has many numeric columns which each attribute to an individual metric. As an example, we can see the last 5 columns are all player statistics, which is shown in the 'per 90' format.

Below is a comprehensive list provided by the dataset creators, explaining the meaning of each column:

- **Rk**: Rank
- **Player**: Player's name
- **Nation**: Player's nation
- **Pos**: Position
- **Squad**: Squad’s name
- **Comp**: League that squad occupies
- **Age**: Player's age
- **Born**: Year of birth
- **MP**: Matches played
- **Starts**: Matches started
- **Min**: Minutes played
- **90s**: Minutes played divided by 90
- **Goals**: Goals scored or allowed
- **Shots**: Shots total (Does not include penalty kicks)
- **SoT**: Shots on target (Does not include penalty kicks)
- **SoT%**: Shots on target percentage (Does not include penalty kicks)
- **G/Sh**: Goals per shot
- **G/SoT**: Goals per shot on target (Does not include penalty kicks)
- **ShoDist**: Average distance, in yards, from goal of all shots taken (Does not include penalty kicks)
- **ShoFK**: Shots from free kicks
- **ShoPK**: Penalty kicks made
- **PKatt**: Penalty kicks attempted
- **PasTotCmp**: Passes completed
- **PasTotAtt**: Passes attempted
- **PasTotCmp%**: Pass completion percentage
- **PasTotDist**: Total distance, in yards, that completed passes have traveled in any direction
- **PasTotPrgDist**: Total distance, in yards, that completed passes have traveled towards the opponent's goal
- **PasShoCmp**: Passes completed (Passes between 5 and 15 yards)
- **PasShoAtt**: Passes attempted (Passes between 5 and 15 yards)
- **PasShoCmp%**: Pass completion percentage (Passes between 5 and 15 yards)
- **PasMedCmp**: Passes completed (Passes between 15 and 30 yards)
- **PasMedAtt**: Passes attempted (Passes between 15 and 30 yards)
- **PasMedCmp%**: Pass completion percentage (Passes between 15 and 30 yards)
- **PasLonCmp**: Passes completed (Passes longer than 30 yards)
- **PasLonAtt**: Passes attempted (Passes longer than 30 yards)
- **PasLonCmp%**: Pass completion percentage (Passes longer than 30 yards)
- **Assists**: Assists
- **PasAss**: Passes that directly lead to a shot (assisted shots)
- **Pas3rd**: Completed passes that enter the 1/3 of the pitch closest to the goal
- **PPA**: Completed passes into the 18-yard box
- **CrsPA**: Completed crosses into the 18-yard box
- **PasProg**: Completed passes that move the ball towards the opponent's goal at least 10 yards from its furthest point in the last six passes, or any completed pass into the penalty area
- **PasAtt**: Passes attempted
- **PasLive**: Live-ball passes
- **PasDead**: Dead-ball passes
- **PasFK**: Passes attempted from free kicks
- **TB**: Completed pass sent between back defenders into open space
- **Sw**: Passes that travel more than 40 yards of the width of the pitch
- **PasCrs**: Crosses
- **TI**: Throw-Ins taken
- **CK**: Corner kicks
- **CkIn**: Inswinging corner kicks
- **CkOut**: Outswinging corner kicks
- **CkStr**: Straight corner kicks
- **PasCmp**: Passes completed
- **PasOff**: Offsides
- **PasBlocks**: Blocked by the opponent who was standing it the path
- **SCA**: Shot-creating actions
- **ScaPassLive**: Completed live-ball passes that lead to a shot attempt
- **ScaPassDead**: Completed dead-ball passes that lead to a shot attempt
- **ScaDrib**: Successful dribbles that lead to a shot attempt
- **ScaSh**: Shots that lead to another shot attempt
- **ScaFld**: Fouls drawn that lead to a shot attempt
- **ScaDef**: Defensive actions that lead to a shot attempt
- **GCA**: Goal-creating actions
- **GcaPassLive**: Completed live-ball passes that lead to a goal
- **GcaPassDead**: Completed dead-ball passes that lead to a goal
- **GcaDrib**: Successful dribbles that lead to a goal
- **GcaSh**: Shots that lead to another goal-scoring shot
- **GcaFld**: Fouls drawn that lead to a goal
- **GcaDef**: Defensive actions that

### Player Valuation Datasets
Looking at the `players` and `players_valuation` datasets

In [6]:
players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
0,598,Timo,Hildebrand,Timo Hildebrand,2014,24,timo-hildebrand,Germany,Worms,Germany,...,NaN,NaN,NaN,10000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/timo-hildebran...,L1,Eintracht Frankfurt
1,670,Martin,Petrov,Martin Petrov,2012,714,martin-petrov,Bulgaria,Vratsa,Bulgaria,...,NaN,NaN,NaN,12000000.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-petrov/...,ES1,RCD Espanyol Barcelona
2,1323,Martin,Amedick,Martin Amedick,2012,24,martin-amedick,Germany,Paderborn,Germany,...,NaN,NaN,NaN,2750000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/martin-amedick...,L1,Eintracht Frankfurt
3,3195,Jermaine,Pennant,Jermaine Pennant,2013,512,jermaine-pennant,England,Nottingham,England,...,right,173.0,NaN,10500000.0,NaN,Andrew Sky,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/jermaine-penna...,GB1,Stoke City
4,3259,Damien,Duff,Damien Duff,2013,931,damien-duff,Ireland,Ballyboden,Ireland,...,left,177.0,NaN,17000000.0,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/damien-duff/pr...,GB1,Fulham FC

In [19]:
players[players['player_id'] == 10]

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name
12720,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,30000000.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,SS Lazio

In [20]:
player_valuation[player_valuation['player_id']==10]

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
2293,10,2015,2005-01-07 00:00:00,2005-01-07,2005-01-03,9000000,1,398,IT1
3086,10,2015,2005-05-05 00:00:00,2005-05-05,2005-05-02,12000000,1,398,IT1
3970,10,2015,2005-09-30 00:00:00,2005-09-30,2005-09-26,15000000,1,398,IT1
4700,10,2015,2006-01-09 00:00:00,2006-01-09,2006-01-09,20000000,1,398,IT1
6177,10,2015,2006-07-15 00:00:00,2006-07-15,2006-07-10,30000000,1,398,IT1
8908,10,2015,2007-06-21 00:00:00,2007-06-21,2007-06-18,23000000,1,398,IT1
16240,10,2015,2008-06-04 00:00:00,2008-06-04,2008-06-02,20000000,1,398,IT1
26284,10,2015,2009-06-10 00:00:00,2009-06-10,2009-06-08,18000000,1,398,IT1
29449,10,2015,2009-08-30 00:00:00,2009-08-30,2009-08-24,12000000,1,398,IT1
34216,10,2015,2010-01-17 00:00:00,2010-01-17,2010-01-11,9000000,1,398,IT1
38127,10,2015,2010-05-08 00:00:00,2010-05-08,2010-05-03,7500000,1,398,IT1
47928,10,2015,2011-01-12 00:00:00,2011-01-12,2011-01-10,7000000,1,398,IT1
55079,10,2015,2011-06-29 00:00:00,2011-06-29,2011-06-27,5000000,1,398,IT1
65515,10,2015,2012-01-11 00:00:00,2012-01-11,2012-01-09,6000000,1,398,IT1
76150,10,2015,2012-07-03 00:00:00,2012-07-03,2012-07-02,6000000,1,398,IT1
86114,10,2015,2013-01-14 00:00:00,2013-01-14,2013-01-14,4000000,1,398,IT1
95093,10,2015,2013-06-19 00:00:00,2013-06-19,2013-06-17,2000000,1,398,IT1
104798,10,2015,2014-01-07 00:00:00,2014-01-07,2014-01-06,1000000,1,398,IT1
116312,10,2015,2014-07-07 00:00:00,2014-07-07,2014-07-07,1000000,1,398,IT1
127182,10,2015,2015-01-07 00:00:00,2015-01-07,2015-01-05,1000000,1,398,IT1
142607,10,2015,2015-07-01 00:00:00,2015-07-01,2015-06-29,1000000,1,398,IT1
155234,10,2015,2016-01-04 00:00:00,2016-01-04,2016-01-04,1000000,1,398,IT1

In [11]:
player_valuation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440663 entries, 0 to 440662
Data columns (total 9 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   player_id                            440663 non-null  int64
 1   last_season                          440663 non-null  int64
 2   datetime                             440663 non-null  object
 3   date                                 440663 non-null  object
 4   dateweek                             440663 non-null  object
 5   market_value_in_eur                  440663 non-null  int64
 6   n                                    440663 non-null  int64
 7   current_club_id                      440663 non-null  int64
 8   player_club_domestic_competition_id  440663 non-null  object
dtypes: int64(5), object(4)
memory usage: 30.3+ MB

In [15]:
player_valuation.groupby('player_id')['datetime'].count()

player_id
10         23
26         27
65         28
77         22
80         31
           ..
1134676     1
1141628     1
1162593     1
1162979     1
1166093     1
Name: datetime, Length: 28794, dtype: int64